.AddCity {
  margin: 24px;
}

.AddCity__input {
  padding: 8px;
  margin: 8px;
  border-radius: 6px;
  border-color: #458b74;
  outline: none;
}

.AddCity__btn {
  background: gold;
  color: red;
  border: none;
}